.card-container {
  display: flex;
  flex-direction: column;
  background-color: none;
  border: 3px solid #10fe4c;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  color: #10fe4c;
}

.card-container:hover {
  transform: scale(1.05);
}
